body{
    max-width:568px;
    margin:0 auto;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.3em;
    line-height: 1.2em;
    background-image: url("background.jpg");
    background-size: cover;
}

h1, h2{
display: flex;
justify-content: center;
}

#protected-link {
    display: none;
}

#registerUsername,
#registerPassword,
#loginUsername,
#loginPassword{
    display: flex;
    justify-content: center;
    margin:0 auto;
    margin-top: 1em;
    width:10em;
}

#correctMessage{
    display:none;
    font-size:0.6em;
    font-style: italic;
    text-align: center;
}

#error_container{
    display: flex;
    justify-content: center;
    font-style: italic;
}

#registerForm{
    border: 2px black solid;
    border-radius:20px;
    max-width:300px;
    height:auto;
    padding:30px;
    margin:0 auto;
    background-color: lightblue;
    box-shadow: 2px 2px 10px black;
}

#loginForm   {
    border: 2px black solid;
    border-radius:20px;
    max-width:300px;
    height:auto;
    padding:30px;
    margin:0 auto;
    margin-top:3em;
    background-color: lightblue;
    box-shadow: 2px 2px 10px black;
}

.protectedData{
    border: 2px black solid;
    border-radius:20px;
    max-width:300px;
    height:auto;
    padding:30px;
    margin:0 auto;
    margin-top:3em;
    background-color: lightblue;
    box-shadow: 2px 2px 10px black;
}

.protectedContent{
    color: white;}

#RegistertBtn,
#LoginBtn,
#LogoutBtn,
#Redirect,
.back-button{
    display: flex;
    justify-content: center;
    background-color:orange;
    border-radius:20px;
    width:50%;
    margin:0 auto;
    margin-top:2em;
    margin-bottom:2em;
    padding:10px;
    box-shadow:2px 2px 2px black;
    font-weight:bold;

}

footer{
    text-align: center;
    margin-top:5em;
    background: -webkit-linear-gradient(#0bb25c, #17775c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 10px orange;
    font-weight: bold;
}